.book-in-progress
  display: flex
  align-items: start
  gap: 12px

  @media (max-width: $breakpoint-xxs)
    gap: 0px


.book-in-progress__cover
  flex-basis: 183px
  flex-shrink: 0
  aspect-ratio: 3/4
  object-fit: cover
  display: flex

  @media (max-width: $breakpoint-xxs)
    flex-basis: 0px

  img
    width: 100%
    object-fit: cover


.book-in-progress__content
  flex-basis: 465px
  flex-grow: 1
  display: grid
  gap: 10px
  grid-template-columns: 1fr 1fr
  
  .wide
    grid-column: 1 / -1

  @media (max-width: 668px)
    grid-template-columns: 1fr

// .book-in-progress__name

// .book-in-progress__author

// .book-in-progress__pages

// .book-in-progress__desctioption

.book-in-progress__interactions
  gap: 10px
  display: flex

.book-in-progress__page-counter
  padding: 10px
  flex: 1 1 189.5px

.book-in-progress__rate-counter
  padding: 10px
  flex: 1 1 189.5px
  
.book-in-progress__read-button
  padding: 10px 20px
  flex: 1 0 66px
