.book-in-progress
  display: flex
  align-items: start
  overflow: hidden
  gap: 20px

  +to-sm()
    align-items: stretch
    flex-direction: column


.book-in-progress__cover
  height: 230px
  flex-shrink: 0

  +to-sm()
    height: auto

.book-in-progress__content
  display: flex
  flex-grow: 1
  flex-direction: column
  gap: 10px
  overflow: hidden


// .book-in-progress__title

.book-in-progress__row
  gap: 10px
  display: flex


.book-in-progress__author
  flex: 1 1 0px
  min-width: 0px

.book-in-progress__published
  flex: 1 1 0px
  min-width: 0px


// .book-in-progress__description


.book-in-progress__interactions
  display: flex
  gap: 10px

  +to-sm()
    display: grid
    grid-template-columns: 1fr 1fr

.book-in-progress__page-counter
  padding: 10px
  flex: 1 1 189.5px


.book-in-progress__rate-counter
  padding: 10px
  flex: 1 1 189.5px


.book-in-progress__expand-button
  padding: 10px 20px
  flex: 1 0 78px

  +to-sm()
    grid-column: 1 / -1