.book-to-edit
  display: flex
  gap: 20px
  align-items: start

  +to-xs()
    flex-direction: column


.book-to-edit__cover
  width: 150px
  flex-shrink: 0

  +to-sm()
    width: 100px

  +to-xs()
    width: 100%



.book-to-edit__content
  flex-grow: 1
  display: flex
  flex-direction: column
  gap: 10px

  +to-sm()
    flex-basis: auto


// .book-to-edit__name


// .book-to-edit__author


// .book-to-edit__description


.book-to-edit__interactions
  display: flex
  gap: 10px
  
  & .counter
    overflow: hidden

  +to-xs()
    display: grid
    grid-template-columns: 1fr 1fr 1fr

// .book-to-edit__page-counter


// .book-to-edit__rate-counter


.book-to-edit__toggle-state
  white-space: nowrap
  padding: 10px 20px
  flex-shrink: 0