.counter
  display: flex
  gap: 20px
  background-color: black

.counter__title
  color: #fff
  opacity: 0.6
  flex-basis: 1
  flex-shrink: 0

.counter__controls
  display: flex
  flex-grow: 1
  gap: 20px

.counter__decrease-button
  flex-grow: 1

.counter__increase-button
  flex-grow: 1

.counter__input
  width: 33%
  background: none
  border: none
  color: white
  text-align: center

