.counter
  display: flex

  button
    width: 42px
    background: rgb(0 0 0 / .0)
    border: none
    transition: background-color 0.2s
  
    &:hover
      background: rgb(0 0 0 / .2)

    &:active
      background: rgb(255 255 255 / .2)

.counter__input
  width: 42px
  text-align: center
  background: none
  border: none
  outline: none

// .counter__reduce
// .counter__increase
