.cover
  display: flex
  overflow: hidden
  aspect-ratio: 3/4
  object-fit: cover
  object-position: center
  background-color: blue
  
  img
    display: block
    min-width: 100%
    user-select: none