$line-height: 1.4
$lines-number: 4
$font-size: 13px


.info-group
  font-size: 13px
  padding: 10px 10px
  display: flex
  gap: 20px
  border-bottom: hsl(0 0% 80%) solid 1px
  
  +to-sm()
    flex-direction: column
    gap: 4px
    padding: 8px 10px


.info-group__title
  width: 64px
  flex-shrink: 0
  opacity: 0.6


.info-group__content
  overflow: hidden

.info-group__line
  white-space: nowrap
  overflow: hidden
  min-width: 0px
  text-overflow: ellipsis


.info-group__text
  word-break: break-all

  &.folded
    display: -webkit-box
    width: 100%
    overflow: hidden
    position: relative
    min-height: $line-height * $lines-number * $font-size  
    -webkit-box-orient: vertical
    -webkit-line-clamp: 4
    line-clamp: 4
    height: $line-height * $lines-number * $font-size


.info-group__toggle-text-button
  text-decoration: underline solid 1px black;
  cursor: pointer
  user-select: none

  &:hover
    text-decoration: none


.info-group.description .info-group__content
  line-height: $line-height
  display: -webkit-box
  width: 100%
  overflow: hidden
  position: relative
  min-height: $line-height * $lines-number * $font-size  
  -webkit-box-orient: vertical
  -webkit-line-clamp: 4
  line-clamp: 4
  height: $line-height * $lines-number * $font-size



.info-group__expand-button
  width: fit-content
  line-height: 1
  text-decoration: underline
  cursor: pointer
  user-select: none
  &:hover
    text-decoration: none
