@use "sass:color"

.modal-edit-book
  display: flex;
  justify-content: center
  align-items: start
  width: 100%
  max-height: 100dvh
  border: none
  outline: none
  background-color: rgb(0 0 0 / .0)
  overflow: auto

  &::backdrop
    background-color: color.change($primary-gray, $alpha: 95%)
    backdrop-filter: blur(15px)

  &:not(:open)
    display: none

  +to-xs()
    align-items: start


.modal-edit-book__close-button
  right: 30px
  top: 30px
  position: absolute
  width: 32px
  height: 32px
  background: url("../images/close.svg")
  background-repeat: no-repeat
  background-position: center
  border-radius: 999px
  transition: 0.1s background

  +to-sm()


.modal-edit-book__book-to-edit
  padding-top: 16.666667svh // 160/960
  width: 668px
  
  +to-sm()
    width: 555px

  +to-xs()
    padding-top: 6.25svh // 60/960
    padding-bottom: 6.25svh // 60/960
    width: 350px