@use "sass:color"

.modal-pick-books
  background: none
  border: none
  outline: none
  display: flex
  flex-direction: column
  overflow: hidden
  position: relative

  &::backdrop
    background-color: color.change($primary-gray, $alpha: 90%)
    backdrop-filter: blur(15px)


.modal-pick-books__search
  height: 36px
  flex-shrink: 0


.modal-pick-books__items
  padding-top: 6.521739svh // 60/920
  overflow: auto
  scrollbar-width: thin
  gap: 20px
  display: flex
  flex-direction: column