// .completed-section
// .completed-section__header

.completed-section__items
  display: grid
  grid-template-columns: repeat(auto-fill, minmax(216px, 1fr))
  gap: 20px

  +to-sm()
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr))

// .completed-section__item
