// .in-progress-section
// .in-progress-section__header

.in-progress-section__items
  display: grid
  gap: 40px
  grid-template-columns: repeat(auto-fill, minmax(620px, 1fr))

  +to-sm()
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr))
    gap: 20px
    
  
// .in-progress-section__item
