// .in-progress-section
// .in-progress-section__header

.in-progress-section__items
  display: grid
  gap: 40px
  grid-template-columns: repeat(auto-fill, minmax(620px, 1fr))

  @media (max-width: $breakpoint-sm)
    grid-template-columns: 1fr
    
  
// .in-progress-section__item
