.page
  height: 100%
  background-color: $primary-black
  padding: 0 16px 16px 16px
  display: flex
  flex-direction: column
  overflow: auto

  // &:has(dialog:open)
  //   overflow: hidden

// .page__header

 
.page__main
  flex-grow: 1


.page__modal-pick-books
  $side-margin: 16px
  margin: 0 auto
  max-width: min(600px, 100% - $side-margin * 2)
  max-height: 100%
  height: auto
  top: 17.391304%
  position: absolute
  width: 100%