*, *::after, *::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

input,
text-area,
button {
  font-size: inherit;
  font-family: inherit;
  color: inherit;
}

input {
  min-width: 0;
}